body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight:normal;
  color: #000000;

  background-color: #ffffff;

  position: relative;
  display: block;
}
.visually-hidden {
  display: none;
}
  /* сетка */
header {
  padding:0;
  display: block;
}
header,
.block-buy {
  background-color:#eeeeee;
}
.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}
.main-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
}
.main-header-logo {
  margin: 25px 20px 0 0;
}
.main-navigation .site-navigation-container {
  display: flex;
  justify-content: space-between;
  padding: 0;
  width: 800px;
}
.site-navigation {
  padding: 0;
  width: 440px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
}
.site-navigation li{
  display: inline-block;
}
.site-navigation-container .basket-bloсk {
  position: relative;
  width: 120px;
}
.basket::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 10px;
  width: 16px;
  height: 16px;

  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.slides {
  min-height:400px;
  position: relative;
  display: block;
}
.slider [type=radio] {
  position: absolute;
  opacity: 0;
}
input [type=radio] {
margin: 3px 3px 0px 5px;
box-sizing: border-box;
background-color: initial;
padding: initial;
border: initial;
display: inline-block;
text-shadow: none;
text-align: start;
}
.slider-switchers {
  width: 200px;
  height: 20px;
  margin: 0 0 0 -100px;
  position: absolute;
  bottom: 80px;
  left: 53%;
  z-index: 100;
  text-align: center;
}
#slider-1:checked ~ .slider-switchers [for=slider-1],
#slider-2:checked ~ .slider-switchers [for=slider-2],
#slider-3:checked ~ .slider-switchers [for=slider-3] {
  background: #c1c1c1;
}
.slider-switchers label {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 0 3px;
  background: #ffffff;
  border: 5px solid #ffffff;
  border-radius: 50%;
  vertical-align: top;
  cursor: pointer;
}
#slider-1:checked ~ .slides .slide1{
  display: block;
}
.slide {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
.slide1::after {
  content: "";
  display: block;
  width: 698px;
  height: 413px;
  background: url(../img/slide1.png) no-repeat;
  position: absolute;
  right: 0;
  top: 0;
}
main {
  display: block;
}
.items {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 80px 0 80px 0;
  border-bottom: 2px solid #eeeeee;
}
.web-site,
.applications {
  margin-right: 100px;
}
.presentation {
  margin-right: 60px;
}
.about-us {
  padding: 50px 0;
  border-bottom: 2px solid #eeeeee;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
}
.about-us-left {
  width: 700px;
}
h3 {
  padding-top: 45px;
}
.about-us-ul {
  margin: 0;
  padding: 0;
}
.about-us-left .about-us-li {
  margin-top: 30px;
  padding:0 0 0 40px;
  position: relative;
}
.about-us-left li::before {
  content: "";
  height: 2px;
  width: 25px;
  background: #fb565a;
  position: absolute;
  left: 0;
  top: 10px;
}
.about-us-right {
  width: 360px;
}
table {
  padding-top: 20px;
  padding-right: 0;
  margin: 0;
  border-spacing: 0px 25px;
}
td {
  padding-right: 0px;
}
.our-works {
  display: flex;
  border-bottom: 2px solid #eeeeee;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 0 80px;
  padding: 20px 0;
}
.our-works li {
  display: table-cell;
  padding-right: 90px;
  text-align: center;
  vertical-align: middle;
}
.map-contact {
  width: 100%;
  height: 430px;
  position: relative;
  box-sizing: border-box;
}
.map-contact img {
  position: relative;
  width: 100%;
  height: 100%;
}
.map-contact .contact {
  width: 240px;
  top: 60px;
  left: 140px;
  padding-top: 0;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 30px;
  background: #ffffff;
  position: absolute;
}
.social {
  padding: 80px 0;
}
.footer-social {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: stretch;
  width: 960px;
}
.footer-social ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 260px;
  padding: 0;
}
.social-button {
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #e1e1e1;
}
.btn-vk::before {
  content: "";
  display: block;
  width: 26px;
  height: 15px;
  background: url("../img/vk-icon.svg") no-repeat;
  position: relative;
  left: 25px;
  top: 33px;
}
.btn-fd::before {
  content: "";
  display: block;
  width: 12px;
  height: 22px;
  background: url("../img/fb-icon.svg") no-repeat;
  position: relative;
  left: 32px;
  top: 30px;
}
.btn-inst::before {
  content: "";
  display: block;
  width: 21px;
  height: 21px;
  background: url("../img/insta-icon.svg") no-repeat;
  position: relative;
  left: 30px;
  top: 30px;
}
.footer-social .social-info {
  text-align: left;
  margin: 0;
  padding-top: 20px;
}

.modal-write-us-form {
  display: none;
}
/* Каталог */
.title-page-catalog {
  margin: 0;
  padding: 100px 0 100px;
  text-align: center;
  font-size: 55px;
  line-height: 55px;
}
.main-catalog {
  padding-top: 50px;
}
.main-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.filter {
  width: 260px;
}
fieldset {
  margin: 0 0 50px;
}
.catalog-sort-items {
  width: 760px;
}
.sorting-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  width: 680px;
}
.sorting-list-title {
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 265px;
}
.sorting-list-li {
  margin-right: 25px;
}
.sorting-list-option {
  font-size: 14px;
  line-height: 18px;
  color:#000000;
  opacity: 0.3;
}
.sorting-list-option:hover,
.sorting-list-option:focus {
  opacity: 0.6;
}
.sorting-list-option:active {
  opacity: 1;
}
.sorting {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
.sorting-list-direction {
  list-style:none;
  display: flex;
}
.sorting-list-direction li:first-child {
  margin-right:15px;
}
.direction-low-li,
.direction-high-li {
  opacity: 0.2;
}
.direction-low-li:hover,
.direction-low-li:focus,
.direction-high-li:hover,
.direction-high-li:focus {
  opacity: 0.6;
}
.direction-low-li:active,
.direction-high-li:active {
  opacity: 1;
}
.direction-low::before {
    content: "";
    display: block;
    width: 11px;
    height: 10px;
    background: url("../img/icon-down-dir.svg") no-repeat;
    position: relative;
}
.direction-high::before {
  content: "";
  display: block;
  width: 11px;
  height: 10px;
  background: url("../img/icon-up-dir.svg") no-repeat;
  position: relative;
}
.catalog-list {
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.catalog-item {
  width:360px;
  position: relative;
  margin-bottom: 40px;
}
.catalog-item img {
  max-width: 100%;
  max-height: 100%;
}
/* Вопрос ????*/
.catalog-item::before {
  content: "";
  display: block;
  width: 360px;
  height: 40px;
  background: url("../img/browser.svg") no-repeat;
  position: relative;
}
.block-buy {
  display: none;
  width: 360px;
  height: 230px;
  position: absolute;
  top: 390px;
}
.catalog-item:hover .block-buy{
  display: block;
  width: 360px;
  height: 230px;
  position: absolute;
  top: 390px;
}
.pagination-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 460px;
  padding: 0;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}
.pagination-item-current,
.pagination-item,
.pagination-item-next {
  display: block;
  border-radius: 3px;
  color: #000000;
  width: 50px;
  padding: 15px 0;
}
/* Вопрос ????*/
.pagination-item-current {
  background: 2px solid #dbdbdb;
}
.pagination-item {
  background: #eeeeee;
}
.pagination-item-next {
  background: #eeeeee;
  width: 260px;
}
.pagination-item:hover,
.pagination-item:focus,
.pagination-item-next:hover,
.pagination-item-next:focus {
  background:#dfdfdf;
}
.pagination-item:active,
.pagination-item-next:active {
  background:#d5d5d5;
  color: #959595;
}
a {
  text-decoration: none;
}
.main-navigation ul,
.our-works ul,
.footer-social ul,
.about-us-left ul {
  list-style:none;
}
.main-navigation a {
  color: #000000;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
}
.site-navigation a:hover,
.site-navigation a:focus,
.basket-bloсk a:hover,
.basket-bloсk a:focus {
  color: #fb565a;
}
.site-navigation a:active,
.basket-bloсk a:active {
  color: #ababab;
  border-bottom: 2px #fb565a solid;
}
.slide-title {
  font-size: 55px;
  line-height: 55px;
}
.button-slide {
  display:block;
  padding: 15px 0;
  border-radius: 3px;
  line-height: 18px;
  color:#ffffff;
  background-color:#fb565a;
  text-transform: uppercase;
  text-align: center;
  width: 240px;
  margin-top: 40px;
}
.button-slide:hover,
.button-slide:focus,
.social-button:hover,
.social-button:focus {
background-color:#e74246;
}
.button-slide:active,
.social-button:active {
  color: #e26f72;
  background-color:#d7373b;
}
.items h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 20px;
}
.web-site a,
.applications a,
.presentation a {
  line-height: 18px;
  color:#ffffff;
  text-transform: uppercase;
  text-align: center;
  width: 160px;
  border-radius: 3px;
  display: block;
  padding: 15px 0;
  margin-top: 35px;
}
.web-site a {
  background-color:#fb565a;
}
.web-site a:hover,
.web-site a:focus {
  background-color:#e74246;
}
.web-site a:active {
  color: #e26f72;
  background-color:#d7373b;
}
.applications a {
 background-color:#00ca74;
}
.applications a:hover,
.applications a:focus {
  background-color:#00bc6c;
}
.applications a:active {
  color:#48c28e;
  background-color:#00aa62;
}
.presentation a {
  background-color:#efc84a;
}
.presentation a:hover,
.presentation a:focus {
  background-color:#eab534
}
.presentation a:active{
  color:#ecbe5c;
  background-color:#e5a722;
}
.about-us-title {
  font-size: 45px;
  line-height: 45px;
}
.about-us h3 {
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
}
.about-us-right .text-top {
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
}
.about-us-right .text-bottom {
  font-size: 16px;
  line-height: 18px;
  color: #283136
}
.our-works a {
  opacity: 0.2;
}
.our-works a:hover,
.our-works a:focus {
  opacity: 1;
}
.our-works a:active {
  opacity: 0.1;
}
.contact h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 10px;
}
.contact p{
  font-size: 16px;
  line-height: 18px;
  color: #666666;
}
.contact .tel{
  padding-bottom: 35px;
}
.contact a {
  line-height: 18px;
  color:#ffffff;
  background-color:#fb565a;
  text-transform: uppercase;
  text-align: center;
  border-radius: 3px;
  display: block;
  width: 220px;
  padding: 15px 0;
}
.social-info h4 {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  margin: 0;
}
.social-info p {
  line-height: 22px;
  color: #444444
}

.modal-write-us-form {
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
}

.modal-write-us-form h2 {
  font-size: 45px;
  line-height: 45px;
}
.modal-write-us-form input:hover,
.modal-write-us-form input:focus {
  color: #000000;
  text-transform: none;

  border: 2px solid #000000;
}
/* страница каталога */
.filter fieldset {
  border: none;
}
.filter legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}
.filter ul {
  list-style: none;
  line-height: 20px;
}
.features-filter + label,
.features-filter + label,
.grid-filter + label,
.grid-filter + label {
  color: #283136;
}
.features-filter:hover + label,
.features-filter:focus + label,
.grid-filter:hover + label,
.grid-filter:focus + label {
  color: #000000;
}
.features-filter:disabled + label,
.features-filter:disabled + label,
.grid-filter:disabled + label,
.grid-filter:disabled + label {
  opacity: 0.3;
}
.catalog-list,
.pagination-list {
  list-style: none;
}
.block-buy{text-align: center;}
.block-buy h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  color:#000000;
  text-transform: uppercase;
  padding-top: 5px;
}
.block-buy p {
  font-size: 16px;
  line-height: 18px;
  color:#666666;
  padding-bottom: 15px;
}
.catalog-item .button-buy {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  background:#fb565a;
  display: block;
  width: 200px;
  padding: 15px 0;
  text-transform: uppercase;
  text-align: center;
  border-radius: 3px;
  margin: auto;
}
.modal-write-us-form .button {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  background:#fb565a;
  border: none;
}
.catalog-item button:hover,
.catalog-item button:focus {
  background-color:#e74246;
}
.catalog-item button:active {
  color: #e26f72;
  background-color:#d7373b;
}
