body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight:normal;
  color: #000000;

  background-color: #ffffff;

  min-width: 1440px;
  position: relative;
  display: block;
}
  /* сетка */
header {
  padding:0;
  display: block;
}
header,
.block-buy {
  background-color:#eeeeee;
}
.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}
.main-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
}
.main-header-logo {
  margin: 25px 20px 0 0;
}
.main-navigation .site-navigation-container {
  display: flex;
  justify-content: space-between;
  padding: 0;
  width: 800px;
}
.site-navigation {
  padding: 0;
  width: 440px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
}
.site-navigation li{
  display: inline-block;
}
.site-navigation-container .basket-bloсk {
  position: relative;
  width: 120px;
}
/* Иконку корзины не виднно, что нужно сделать? */
.basket::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 10px;
  width: 16px;
  height: 16px;

  background-image: url("img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: #ff0000;
}

.slides {
  min-height:400px;
  position: relative;
  display: block;
}
.slider [type=radio] {
  position: absolute;
  opacity: 0;
}
input [type=radio] {
margin: 3px 3px 0px 5px;
box-sizing: border-box;
background-color: initial;
padding: initial;
border: initial;
display: inline-block;
text-shadow: none;
text-align: start;
}
.slider-switchers {
  width: 200px;
  height: 20px;
  margin: 0 0 0 -100px;
  position: absolute;
  bottom: 80px;
  left: 53%;
  z-index: 100;
  text-align: center;
}
#slider-1:checked ~ .slider-switchers [for=slider-1],
#slider-2:checked ~ .slider-switchers [for=slider-2],
#slider-3:checked ~ .slider-switchers [for=slider-3] {
  background: #c1c1c1;
}
.slider-switchers label {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 0 3px;
  background: #ffffff;
  border: 5px solid #ffffff;
  border-radius: 50%;
  vertical-align: top;
  cursor: pointer;
}
#slider-1:checked ~ .slides .slide1{
  display: block;
}
.slide {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
.slide1::after {
  content: "";
  display: block;
  width: 698px;
  height: 413px;
  background: url(../img/slide1.png) no-repeat;
  position: absolute;
  right: 0;
  top: 0;
}
main {
  display: block;
}
.items {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 80px 0 80px 0;
  border-bottom: 2px solid #eeeeee;
}
.web-site,
.applications {
  margin-right: 100px;
}
.presentation {
  margin-right: 60px;
}
.about-us {
  padding: 50px 0;
  border-bottom: 2px solid #eeeeee;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
}
.about-us-left {
  width: 700px;
}
h3 {
  padding-top: 45px;
}
.about-us-ul {
  margin: 0;
  padding: 0;
}
.about-us-left .about-us-li {
  margin-top: 25px;
  padding:0 0 0 40px;
  position: relative;
}
.about-us-left li::before {
  content: "";
  height: 2px;
  width: 25px;
  background: #fb565a;
  position: absolute;
  left: 0;
  top: 10px;
}
.about-us-right {
  width: 360px;
}
table {
  padding-top: 30px;
}
td {
  padding-right: 15px;
}
.our-works {
  display: flex;
  border-bottom: 2px solid #eeeeee;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 0 80px;
  padding: 40px 0;
}
.our-works li {
  display: table-cell;
  padding-right: 90px;
  text-align: center;
  vertical-align: middle;
}
.map-contact{
  position: relative;
  height: 430px;
  display: flex;
  justify-content: center;
}
.map-logo {
  /*position: absolute;*/
}
.map-contact .contact {
  width: 240px;
  top: 60px;
  left: 140px;
  padding-top: 0;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 30px;
  background: #ffffff;
  position: absolute;
}
.social {
  padding: 80px 0;
  width: 960px;
  margin-left: 140px;
}
.footer-social {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: stretch;
}
.footer-social ul{
  flex-wrap: wrap;
  width: 260px;
}
.social-info {
  text-align: left;
  margin: 0;
}
.modal-write-us-form {
  display: none;
}
/* Каталог */
.title-page-catalog {
  margin: 0;
  padding: 100px 0 100px;
  text-align: center;
  font-size: 55px;
  line-height: 55px;
}
.main-catalog {
  padding-top: 50px;
}
.main-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.filter {
  width: 260px;
}
fieldset {
  margin: 0 0 50px;
}
.catalog-sort-items {
  width: 760px;
}
.sorting-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}
.sorting-list-title {
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 265px;
}
.sorting-list-li {
  margin-right: 25px;
}
.sorting-list-option{
  font-size: 14px;
  line-height: 18px;
  color:#000000;
}
.catalog-list {
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.catalog-item {
  width:360px;
  position: relative;
  border-top: 40px solid #e9e9e9;
  border-radius: 3px;
  vertical-align: top;
  margin-bottom: 40px;
}
.catalog-item img {
  max-width: 100%;
  max-height: 100%;
}
.block-buy {
  display: none;
  width: 360px;
  height: 230px;
  position: absolute;
  top: 350px;
}
.catalog-item:hover .block-buy{
  display: block;
  width: 360px;
  height: 230px;
  position: absolute;
  top: 350px;
}
.pagination-list {
  display: flex;
  flex-wrap: nowrap;
}
.pagination-item {
  margin: 0 10px 0 0;
  padding: 10px 15px;
  border-radius: 3px;
  text-align: center;
  background: #eeeeee;
}

/* end сетка */
a {
  text-decoration: none;
}

.main-navigation ul,
.our-works ul,
.footer-social ul,
.about-us-left ul {
  list-style:none;
}
.main-navigation a {
  color: #000000;
}
.main-navigation a:hover,
.main-navigation a:focus {
  color: #fb565a;
}
.main-navigation a:active {
  color: #ababab;
}
.slide-title {
  font-size: 55px;
  line-height: 55px;
}
/*.slides a */
.button-slide {
  display: block;
  padding: 9px 0;
  border-radius: 3px;
  line-height: 18px;
  color:#ffffff;
  background-color:#fb565a;
  text-transform: uppercase;
  text-align: center;
  width: 240px;
}
.slides a:hover,
.slides a:focus, {
background-color:#e74246;
}
.slides a:active {
  color: #e26f72;
  background-color:#d7373b;
}
.items h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}
.web-site a,
.applications a,
.presentation a {
  line-height: 18px;
  color:#ffffff;
  text-transform: uppercase;
  text-align: center;
  width: 160px;
  border-radius: 3px;
  display: block;
  padding: 10px 0;
}
.web-site a {
  background-color:#fb565a;
}
.web-site a:hover,
.web-site a:focus {
  background-color:#e74246;
}
.web-site a:active {
  color: #e26f72;
  background-color:#d7373b;
}
.applications a {
 background-color:#00ca74;
}
.applications a:hover,
.applications a:focus {
  background-color:#00bc6c;
}
.applications a:active {
  color:#48c28e;
  background-color:#00aa62;
}
.presentation a {
  background-color:#efc84a;
}
.presentation a:hover,
.presentation a:focus {
  background-color:#eab534
}
.presentation a:active{
  color:#ecbe5c;
  background-color:#e5a722;
}
.about-us-title {
  font-size: 45px;
  line-height: 45px;
}
.about-us h3 {
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
}
.about-us-right .text-top {
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
}
.about-us-right .text-bottom {
  font-size: 16px;
  line-height: 18px;
  color: #283136
}
.our-works a {
  opacity: 0.2;
}
.our-works a:hover,
.our-works a:focus {
  opacity: 1;
}
.our-works a:active {
  opacity: 0.1;
}
.contact h3{
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 10px;
}
.contact p{
  font-size: 16px;
  line-height: 18px;
  color: #666666;

}
.contact .tel{
  padding-bottom: 35px;
}
.contact a {
  line-height: 18px;
  color:#ffffff;
  background-color:#fb565a;
  text-transform: uppercase;
  text-align: center;
  border-radius: 3px;
  display: block;
  width: 220px;
  padding: 15px 0;
}
.social-info h4 {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  margin: 0;
}
.social-info p {
  line-height: 22px;
  color: #444444
}

.modal-write-us-form {
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
}

.modal-write-us-form h2 {
  font-size: 45px;
  line-height: 45px;
}
.modal-write-us-form input:hover,
.modal-write-us-form input:focus {
  color: #000000;
  text-transform: none;

  border: 2px solid #000000;
}
/* страница каталога */
.filter fieldset {
  border: none;
}
.filter legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}
.filter ul {
  list-style: none;
  line-height: 20px;
}
.features-filter + label,
.features-filter + label,
.grid-filter + label,
.grid-filter + label {
  color: #283136;
}
.features-filter:hover + label,
.features-filter:focus + label,
.grid-filter:hover + label,
.grid-filter:focus + label {
  color: #000000;
}
.features-filter:disabled + label,
.features-filter:disabled + label,
.grid-filter:disabled + label,
.grid-filter:disabled + label {
  opacity: 0.3;
}
.catalog-list,
.pagination-list {
  list-style: none;
}
.block-buy{text-align: center;}
.block-buy h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  color:#000000;
  text-transform: uppercase;
}
.block-buy p {
  font-size: 16px;
  line-height: 18px;
  color:#666666;
}
.catalog-item button,
.modal-write-us-form .button {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  background:#fb565a;
  border: none;
}
.catalog-item button:hover,
.catalog-item button:focus {
  background-color:#e74246;
}
.catalog-item button:active {
  color: #e26f72;
  background-color:#d7373b;
}
.pagination-list a,
.filter button {
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  background:#eeeeee;
  border: none;
  text-align: center;
}
.filter button:hover,
.filter button:focus,
.pagination-list a:hover,
.pagination-list a:focus {
  background:#dfdfdf;
}
.filter button:active
.pagination-list a:active {
  background:#d5d5d5;
  color: #959595;
}
.pagination-item-current a {
  background:#ffffff;
}
